{{#if context.defaultUser.avatarUrl}}
    {{#link-to 'index.user' context.defaultUser.login}}
        <img width="40px" height="40px" src={{context.defaultUser.avatarUrl}} />
    {{/link-to}}

    <div class="input-group">
    {{input value=model.targetUser enter=(action "changeUser" model.targetUser)}}
    <span class="input-group-addon">/</span>
    {{#bs-dropdown as | dd | }}
        {{#bs-button}}
            {{if selectedRepo selectedRepo.name "Choose a repo"}}
        {{/bs-button}}
        {{dd.button}}
        {{#dd.menu}}
            {{#each model.selectedUser.githubRepositories as | repo | }}
                {{#dd.item}}
                    {{#link-to "index.repo" model.selectedUser.login repo.name}}
                        {{repo.name}}
                    {{/link-to}}
                {{/dd.item}}
            {{/each}}
        {{/dd.menu}}
    {{/bs-dropdown}}
    </div>

    {{#if selectedRepo}}
        {{#bs-dropdown as | dd | }}
            {{#bs-button}}
                {{if selectedBranch selectedBranch.name "Choose a branch"}}
            {{/bs-button}}
            {{dd.button}}
            {{#dd.menu}}
                {{#each model.selectedRepo.branches as | branch | }}
                    {{#dd.item}}
                        {{#link-to "index.branch" model.selectedUser.login selectedRepo.name branch.name}}
                            {{branch.name}}
                        {{/link-to}}
                    {{/dd.item}}
                {{/each}}
            {{/dd.menu}}
        {{/bs-dropdown}}
    {{/if}}
{{/if}}

{{#if session.isAuthenticated}}
    {{#bs-button onclick=(action 'logout')}}Logout{{/bs-button}}
{{/if}}
