Repository: {{repo.fullName}}

<ul>
    <li>Name: {{repo.name}}</li>
    <li>Language: {{repo.language}}</li>
    <li>Description: {{repo.description}}</li>
    <li>Fork: {{repo.fork}}</li>
    <li>Private: {{repo.private}}</li>
    <li>Created: {{repo.createdAt}}</li>
</ul>