<img width="120px" height="120px" src={{user.avatarUrl}} />

<ul>
    <li>Name: {{user.name}}</li>
    <li>Login: {{user.login}}</li>
    <li>Type: {{user.type}}</li>
    <li>Public repos: {{user.publicRepos}}</li>
    <li>Public gists: {{user.publicGists}}</li>
    <li>Followers: {{user.followers}}</li>
    <li>Following: {{user.following}}</li>
    <li>Created: {{user.createdAt}}</li>
    <li>Profile URL: <a href={{user.url}}>{{user.url}}</a> </li>
</ul>