{{#link-to 'user' defaultUser.login}}
    <img width="40px" height="40px" src={{defaultUser.avatarUrl}} />
{{/link-to}}

<div class="input-group">
    {{input value=targetUser enter=(route-action "changeUser" targetUser)}}
    <span class="input-group-addon">/</span>
    {{#bs-dropdown as | dd | }}
        {{#bs-button}}
            {{if selectedRepo selectedRepo.name "Choose a repo"}}
        {{/bs-button}}
        {{dd.button}}
        {{#dd.menu}}
            {{#each currentUser.githubRepositories as | repo | }}
                {{#dd.item}}
                    {{#link-to "user.repo" currentUser.login repo.name}}
                        {{repo.name}}
                    {{/link-to}}
                {{/dd.item}}
            {{/each}}
        {{/dd.menu}}
    {{/bs-dropdown}}
</div>
