<nav>
    {{#if model.avatarUrl}}
        {{#link-to 'index'}}
            <img width="40px" height="40px" src={{model.avatarUrl}} />
        {{/link-to}}
        {{input value=targetUser enter="specifyUser"}}
    {{/if}}

    {{#if session.isAuthenticated}}
        <button onclick={{action 'logout'}}>Logout</button>
    {{/if}}
</nav>

{{user-details user=model}}

{{outlet}}